# macOS
.DS_Store

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Java / Maven
backend/target/
*.class
*.jar
*.jar.original

# Databases
*.db
*.trace.db

# Uploads
uploads/
backend/uploads/

# IDE
.vscode/
.idea/

# Logs
*.log
